@charset "UTF-8";

* {
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    background-color: white;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 3em;
}

a {
    font-size: 2.5em;
    text-decoration: none;
    color: red;
    display: block;
    margin: 20px auto;
}

a:hover {
    text-decoration: none;
    color: green;
}

.central {
    display: grid;
    place-items: center;
}

input, select {
    font-size: 20px;
    width: 20%;
    display: block;
    padding: 12px 0;
    margin: 8px 0;
    border: 0;
    text-align: center;
}

.btn-check {
    display: none;
}

.btn {
    display: block;
}

/* feiura daqui pra baixo */

input[type=checkbox]:checked + label {
    background-color: var(--botaoSelecionado) !important;
    border-color: var(--botaoSelecionado) !important; 
    font-weight: 600;
    color: black;
}

.btn-primary {
    background-color: white; /* Cor do botão */
    border-color: white; /* Cor da borda do botão */
}

.btn-primary:hover {
    background-color: var(--botaoSelecionado) !important; /* Cor do botão:hover */
    border-color: var(--botaoSelecionado) !important; /* Cor da borda do botão:hover */
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: var(--botaoSelecionado) !important; /* Cor do botão:active */
    border-color: var(--botaoSelecionado) !important; /* Cor da borda do botão:active */
}

/*
.table-dark {
    background-color: ; SE EU QUISER MUDAR A COR DA TABELA
}
*/

.table-dark thead th {
    border-color: black; /* SE EU QUISER MUDAR A COR DA BORDA DA TABELA */
}
