@charset "UTF-8";

:root {
  --blackHalf: rgba(0, 0, 0, 0.5);
  --mintCream: #EFF9F0;
  --champagnePink:#DDC8C4;
  --seaGreen: #09814A;
  --darkRed: #8C1C13;
  --pacificBlue: #2AB7CA;
  --charcoal: #353a47;
}

body {
  background-color: var(--mintCream);
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: var(--champagnePink);
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: var(--mintCream);
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

nav > a {
  text-decoration: none;
}

#device1, #device2 {
  background-image: url("imagens/livros.jpeg");
  background-color: var(--champagnePink);
}

@media only screen and (max-width: 1035px) {
  #device1, #device2 {
      display: none !important;
  }
}

#romeu_julieta {
  background-image: url("imagens/romeu_julieta.jpg");
  min-height: 90%;
}

#pequeno_principe {
  background-image: url("imagens/pequeno_principe.jpg");
  min-height: 130%;
}

#mundo_sofia {
  background-image: url("imagens/mundo_sofia.jpg");
  min-height: 93%;
}

#arte_guerra {
  background-image: url("imagens/arte_guerra.jpeg");
  min-height: 105% !important;
}

.responsivo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-size: 100% auto !important;
  background-attachment: fixed;
}

footer {
  text-align: center;
}

footer a, h1 > a {
  color: var(--darkRed);
  text-decoration: none;
}

footer a:hover, h1 > a:hover {
  color: var(--darkRed);
  text-decoration: underline;
}

.btn:hover {
  color: black !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  height: auto;
  margin-top: auto;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
  margin-top: .5em !important;
  width: 45% !important;
  color: var(--mintCream);
  background-color: var(--charcoal);
  border-color: var(--charcoal) !important;
}

.btn-primary:hover {
  color: var(--mintCream) !important;
  background-color: var(--darkRed);
  border-color: var(--darkRed) !important;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: rgb(13 110 253 / 25%);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.form-floating {
  width: 60% !important;
  margin: 8px auto 8px auto;
}

th, td {
  font-size: 1.5em;
}

.tituloPessoas {
  font-size: 3em !important;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

@media only screen and (max-width: 992px) {
  th, td {
    font-size: 1em;
  }
  .tituloPessoas {
    font-size: 2em !important;
  }
}

#flash {
  margin: 0.5em 0.8em 0 0.8em;
  background-color: var(--darkRed);
  color: var(--mintCream);
  font-size: 1.2em;
  padding: 0.5em 0;
}
