* {
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    background-color: #E5BA12;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 3em;
}

a {
    font-size: 2.5em;
    text-decoration: none;
    color: red;
    display: block;
    margin: 20px auto;
}

a:hover {
    text-decoration: none;
    color: purple;
}

.central {
    display: grid;
    place-items: center;
}

input, select {
    font-size: 20px;
    width: 20%;
    display: block;
    padding: 12px 0;
    margin: 8px 0;
    border: 0;
    text-align: center;
}
