@charset "UTF-8";

/*
ESQUEMA:
1 - fundo da página
2 - qualquer texto
3 - links <a>
4 - cor do botao:hover + cor da tabela
5 - cor do ou botao

MADRUGADA:
#000 (black)
#EFF9F0 (mint cream)
#DDC8C4 (champagne pink)
#09814A (seagreen)
#8C1C13 (dark red)

DIA:
#70A8BB (maximum blue)
#37323E (black coffee)
#C03221 (international orange golden gate bridge)
#679436 (maximum green)
#EF3E36 (cinnabar)

TARDE:
#FFA500 (orange web)
#121619 (rich black)
#DD1C1A (maximum red)
#14591D (lincoln green)
#B9314F (bright maroon)

NOITE:
#800080 (patriarch)
#F2EDEB (isabelline)
#FABC2A (orange yellow)
#31572C (hunter green)
#BD93BD (lilac)
*/

* {
    font-family: Arial, sans-serif;
    text-align: center;
}

body {
    background-color: white;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 3em;
}

a {
    font-size: 2.5em;
    text-decoration: none;
    color: red;
    display: block;
    margin: 20px auto;
}

a:hover {
    text-decoration: none;
    color: green;
}

.central {
    display: grid;
    place-items: center;
}

input, select {
    font-size: 20px;
    width: 20%;
    display: block;
    padding: 12px 0;
    margin: 8px 0;
    border: 0;
    text-align: center;
}

.btn {
    display: block;
}

td {
    font-size: 1.2rem;
}

td > button {
    color: white;
    font-size: 1rem;
    background-color: var(--corTdButton);
    border-color: black;
}

.btn-primary {
    background-color: white; /* Cor do botão */
    border-color: white; /* Cor da borda do botão */
}

.table-dark {
    background-color: white; /* Cor da tabela */
}

.table-dark thead th {
    border-color: white; /* Cor da borda da tabela */
}

.btn-primary:hover {
    background-color: var(--botaoSelecionado) !important; /* Cor do botão:hover */
    border-color: var(--botaoSelecionado) !important; /* Cor da borda do botão:hover */
}

input[type=checkbox]:checked + label {
    color: black;
    font-weight: 600;
    background-color: var(--botaoSelecionado) !important; /*Cor do botão marcado*/
    border-color: var(--botaoSelecionado) !important; /* Cor da borda do botão marcado */
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: white; /* Cor do botão:active */
    border-color: white; /* Cor da borda do botão:active */
}
