{% extends "layout.html" %}

{% block subtitulo %}
    Cadastrar
{% endblock %}

{% block main %}
    <form action="/cadastrar" method="post">
        <div class="central">
        <input name="nome" autofocus placeholder="Nome" type="text" required>
        <input name="email" autofocus placeholder="E-mail" type="email" required>
        <input name="senha1" autofocus placeholder="Senha" type="password" required>
        <input name="senha2" autofocus placeholder="Confirmar senha" type="password" required>
        <input type="submit" value="Enviar">
        </div>
    </form>
{% endblock %}
