{% extends "layout.html" %}

{% block subtitulo %}
    Cadastrar
{% endblock %}

{% block main %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-color: #DDC8C4 !important; padding: 0 !important;">
  <h1 class="display-4 fw-normal" style="margin-top: .8em !important; margin-bottom: -1em !important;">Crie uma conta</h1>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
  <form action="/cadastrar" method="post">
    <div class="form-floating">
      <input type="text" autofocus required class="form-control" id="floatingInput1" name="nome" placeholder="Nome">
      <label for="floatingInput1">Nome</label>
    </div>

    <div class="form-floating">
      <input type="email" autofocus required class="form-control" id="floatingInput2" name="email" placeholder="nome@exemplo.com">
      <label for="floatingInput2">E-mail</label>
    </div>
    
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword1" placeholder="Senha" name="senha1" autofocus required>
      <label for="floatingPassword1">Senha</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword2" placeholder="Confirmar senha" name="senha2" autofocus required>
      <label for="floatingPassword2">Confirmar senha</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
    
  </form>
  </div>
</div>

{% endblock %}
