{% extends "layout.html" %}

{% block subtitulo %}
    Erro
{% endblock %}

{% block main %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-color: #DDC8C4 !important; padding: 0 !important;">
        <h1 class="display-4 fw-normal" style="margin-top: .8em !important; margin-bottom: -2em !important;">{{ msg_erro }}</h1>
        <div class="col-md-5 p-lg-5 mx-auto my-5"></div>
        <h1 class="display-6 fw-normal" style="margin-top: .8em !important; margin-bottom: 1em !important;"><a href="{{ voltar_erro }}">Voltar</a></h1>
      </div>
    </div>
{% endblock %}
