{% extends "layout.html" %}

{% block titulo_links %}
    <title>Formulário</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
{% endblock %}

{% block corpo %}
    <h1>Qual é o seu nome?</h1>
    <form action="/" method="post">
        <div class="central">
        <input name="nome" autofocus type="text">
        <select name="humor">
            <option disabled selected>Como você está?</option>
            <option value="bem">Bem</option>
            <option value="mal">Mal</option>
        </select>
        <input type="submit" value="Entrar">
        </div>
    </form>
{% endblock %}
