{% extends "layout.html" %}

{% block final_head %}
    <title>Olá!</title>
    <link rel="stylesheet" href="static/style.css">
{% endblock %}

{% block corpo %}
    <h1 id="bomHorario">Bom o quê?</h1>
    <form action="/" method="post">
        <div class="central">
            <select name="escolha"> <!-- TODO: Usar botões "Cadastrar" e "Entrar"-->
                <option selected disabled>Cadastrar ou Entrar?</option>
                <option value="cadastrar">Cadastrar</option>
                <option value="entrar">Entrar</option>
            </select>
            <input name="enviar" type="submit" value="Enviar">
        </div>
    </form>
{% endblock %}
