{% extends "layout.html" %}

{% block final_head %}
    <title>Pessoas</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
{% endblock %}

{% block corpo %}
    <h1>{{ msg }}</h1>
    <div class="central">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Humor</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                    <td scope="row">{{ pessoa.nome }}</td>
                    <td scope="row">{{ pessoa.humor.capitalize() }}</td>
                    <td scope="row">{{ pessoa.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Desconectar</a>
    </div>
{% endblock %}
