{% extends "layout.html" %}

{% block final_head %}
    <title>Pessoas</title>
    <link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block corpo %}
    <p>{{ msg_sucesso }}</p>
    <p>Essas são todas as pessoas cadastradas:</p>
    <div class="central">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in pessoas %}
                <tr>
                    <td scope="row">{{ pessoa.nome }}</td>
                    <td scope="row">{{ pessoa.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/desconectar">Desconectar</a>
    </div>
{% endblock %}
