{% extends "layout.html" %}

{% block subtitulo %}
    Pessoas
{% endblock %}

{% block corpo %}
    <p>{{ msg_sucesso }}</p>
    <p>Estas são todas as pessoas cadastradas:</p>
    <div class="central">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                </tr>
            </thead>
            <tbody>
                {% for item in nomes_emails %}
                <tr>
                    <td scope="row">{{ item.nome }}</td>
                    <td scope="row">{{ item.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/produtos">Livros em estoque</a>
        <a href="/carrinho">Meu carrinho</a>
        <a href="/desconectar">Desconectar</a>
    </div>
{% endblock %}
