{% extends "layout.html" %}

{% block final_head %}
    <title>Produtos</title>
    <link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block corpo %}
    <h1>Livros em estoque</h1>
    <form action="/produtos" method="post">
        <div class="central">
            <div id="caixa_digitar">
            <!--
            A PARTE DO AJAX:
            <input name="livro_digitado" autofocus placeholder="Livro" type="text">
            <input type="submit" value="Enviar">
            -->
            </div>

            <div id="botoes_livros">
                {% if livros %}
                    {% for livro in livros %}
                        <input type="checkbox" class="btn-check" id="btn-check{{ loop.index }}" autocomplete="off" value="{{ livro }}" name="escolhido" style="display: none;">
                        <label class="btn btn-primary" for="btn-check{{ loop.index }}">{{ livro }}</label>
                    {% endfor %}
                {% else %}
                    <h2>Não sobrou nenhum livro :)</h2>
                {% endif %}
            </div>
            <input type="submit" name="adicionar" value="Ir ao carrinho">
        </div>
    </form>
    <a href="/carrinho">Meu carrinho</a>
    <a href="/pessoas">Pessoas cadastradas</a>
    <a href="/desconectar">Desconectar</a>
{% endblock %}
