{% extends "layout.html" %}

{% block subtitulo %}
    Produtos
{% endblock %}

{% block main %}
    <h1>Livros em estoque</h1>
    <form action="/produtos" method="post">
        <div class="central">

            <input name="inputLivro" id="inputLivro" autofocus placeholder="Digite um livro" type="text">

            <div id="botoes_livros">
                {% if livros %}
                    {% for livro in livros %}
                    <input type="checkbox" class="btn-check" id="{{ livro }}" autocomplete="off" value="{{ livro }}" name="escolhido" style="display: none;">
                    <label class="btn btn-primary" for="{{ livro }}">{{ livro }}</label>
                    {% endfor %}
                {% else %}
                    <h2>Não sobrou nenhum livro :)</h2>
                {% endif %}
            </div>

            <input type="submit" name="adicionar" value="Ir ao carrinho">

        </div>
    </form>
    <a href="/carrinho">Meu carrinho</a>
    <a href="/pessoas">Pessoas cadastradas</a>
    <a href="/desconectar">Desconectar</a>
{% endblock %}
